---
---

@import "{{ site.theme }}";

  p {
    color: #123293;
    text-shadow:rgba(#000, 0.2) 0 1px 0;
    font-size: 18px;
    margin: 0px;
  }

#banner {
  background: #b05334;
  border: 1px solid #b05334;
}
