---
---

@import "{{ site.theme }}";

  p {
    color: #003399;
    text-shadow:rgba(#039, 0.2) 0 1px 0;
    font-size: 18px;
    margin: 0px;
  }

#banner {
  background: #e38d13;
  border: 1px solid #b05334;
}
